.mainContainer {
    background-color: rgb(169, 200, 132);
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: sans-serif;
    word-spacing: 1px;
    color: rgb(1, 54, 7);

}



.menuItem {
    background-color: rgb(169, 200, 132);
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: sans-serif;
    flex-wrap: wrap;
    align-content: space-around;
    color:black;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
  
.MainPanel {
    grid-area: rightSide;
    display: flex;
    flex-direction:row-reverse;
    gap: 12px;
    align-items: center;
    justify-content: center; 
    object-fit: cover;
    font-family: 'Roboto', sans-serif;
}
  
.MainPanel img{
    border: 10px solid;
    border-color:darkgreen;
    border-radius: 50%;
    object-fit: cover;
    flex-direction:row-reverse;
    align-items: center;
}

.MainTextPanel {
    display: flex; 
    flex-direction: row-reverse;
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 600px;
    justify-content: center;
    gap: 12px;


}

.mainTextPanel p, .mainTextPanel h2{
    color: rgb(0, 0, 0);
    width: 35%;
    

}

.footerPanel{
    grid-area: footer;
    background-color:rgb(35, 90, 40);
    color: rgb(0, 0, 0);
    display: flex;
    font-size: 2em;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    
}

