.mainContainer {
    background-color: rgb(204, 241, 160);
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: sans-serif;
    word-spacing: 1px;
    color: rgb(1, 54, 7);

}

.menuItem {
    background-color: rgb(204, 241, 160);
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: sans-serif;
    flex-wrap: wrap;
    align-content: space-around;
    color:black;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
  

