.mainContainer {
    background-color: rgb(169, 200, 132);
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: sans-serif;
    word-spacing: 1px;
    color: rgb(1, 54, 7);

}



.menuItem {
    background-color: rgb(169, 200, 132);
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: sans-serif;
    flex-wrap: wrap;
    align-content: space-around;
    color:black;

}

body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    
}
  
.MainPanel {
    grid-area: rightSide;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
    justify-content: center;  
}
  
.MainPanel img{
    border: 10px solid;
    border-color:darkgreen;
    border-radius: 50%;
    object-fit: cover;
}

.MainTextPanel {
    display: flex; 
    flex-direction: row;
    font-family: 'Roboto', sans-serif;


}

.RightPanel {
    grid-area: rightSide;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: right;
    justify-content: right;
}
