.titulky{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-family: sans-serif;
}
.nadpis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5cm;
}
.podnatpis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.7cm;
    font-family: sans-serif"Roboto";
    justify-content: space-around;
}
.maincontainer{
    background-color: rgb(204, 241, 160)
}
.obsah{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.RightPanel{
    grid-area: rightSide;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: right;
    justify-content: right;
}

.image {
    size: 70px;
    position: right;
    border-color: black;
    border-style: solid;
    border-width: 5px;
}
.dreamteam{
    display: flex;
    justify-content: space-between;
}
.menu-icon{
    width: 5%;
    position: absolute;
    top: 5%;
    right: 0,01%;
    cursor: pointer;
}
.menu-box{
    width:800px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 12%;
    left: 45%;  
    padding: 25px, 300px;
    transition: top 1s;
    border-radius: 30px;
}
.right-links{
    position: absolute;
    top:30px;
    right: 30px;
    display: flex;
    align-items: center;
}
.right-links img{
    width: 50px;
    margin-left: 20px;
    cursor: pointer
}
.right-links a{
    text-decoration: none;
    color: #fff;
    background: #087f00;
    padding: 10px 40px;
    border-radius: 30px;
}
.menu-links a{
    text-decoration: none;
    color: #000000;
    width: max-content;
    margin: 40px 0px;
    font-size: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.menu-links a::after{
    content: '';
    width: 40px;
    height: 5px;
    background-color: #087f00;
    display: none;
    margin-left: 10px;
    margin-bottom: 8px;
    margin-top: 5px; 
}
.menu-links a:hover{
    font-weight:700;
}
.menu-links a:hover::after{
    display: inline-block;

}