.header {
    background-color: rgb(189, 223, 148);
    padding: 5px;
} 

body {
font-family: sans-serif
}

.product {
    display: flex;
    font-size: 25px;
    background-color: white;
    padding: 10px;
    padding-bottom: 10px;
}

.product img {
    margin-right: 30px;
    border: 5px solid #000000;
}

.product-left {
    flex-flow: row-reverse;
    background-color: rgb(189, 223, 148);
    padding: 10px;
    
}

.product-left img {
    margin-left: 30px;
    margin-right: 0px;
    border: 5px solid #000000;
}

.price {
    color: rgb(1, 84, 12);
    display: flex;
    font-weight: bold;
    font-size: larger;
}

.discount {
    color: red;
    display: flex;
}

.originalPrice {
    font-size: 16px;
    display: flex;
}

.header {
    background-color: rgb(189, 223, 148);
}

.originalPrice-left {
    flex-flow: row-reverse;
}

.discount-left {
    flex-flow: row-reverse;
}

.price-left {
    flex-flow: row-reverse;
}

.ending {
    padding: 60px;
}

.sale {
    font-size: 26px;
    color: rgb(1, 84, 12);
    margin: 0;
}

.transport {
    font-size: large;
    color: red;
    margin: 0;
}

.line {
    background-color: #000000;
    width: auto;
    height: 5px;
    padding-top: 3px;
}

.back {
    border-radius: 25px;
    background: rgb(1, 84, 12);
    padding: 20px;
    width: 200px;
    height: 150px;
    color: white;
}

