.header {
    background-color: rgb(189, 223, 148);
    padding: 5px;
} 

body {
font-family: sans-serif
}

.product {
    display: flex;
    font-size: 25px;
    background-color: white;
    padding: 10px;
    padding-bottom: 10px;
}

.product img {
    margin-right: 30px;
    border: 5px solid #000000;
}

.product-left {
    flex-flow: row-reverse;
    background-color: rgb(189, 223, 148);
    padding: 10px;
    
}

.product-left img {
    margin-left: 30px;
    margin-right: 0px;
    border: 5px solid #000000;
}

.price {
    color: rgb(1, 84, 12);
    display: flex;
    font-weight: bold;
    font-size: larger;
}

.discount {
    color: red;
    display: flex;
}

.originalPrice {
    font-size: 16px;
    display: flex;
}

.header {
    background-color: rgb(189, 223, 148);
}

.originalPrice-left {
    flex-flow: row-reverse;
}

.discount-left {
    flex-flow: row-reverse;
}

.price-left {
    flex-flow: row-reverse;
}

.ending {
    padding: 60px;
}

.sale {
    font-size: 26px;
    color: rgb(1, 84, 12);
    margin: 0;
}

.transport {
    font-size: large;
    color: red;
    margin: 0;
}

.line {
    background-color: #000000;
    width: auto;
    height: 5px;
    padding-top: 3px;
}

.back {
    border-radius: 25px;
    background: rgb(1, 84, 12);
    padding: 20px;
    width: 200px;
    height: 150px;
    color: white;
}

.menuItem {
    background-color: rgb(224, 208, 251);
    display: flex; 
    flex-direction: row;
    justify-content: space-around;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    flex-wrap: wrap;
    align-content: space-around;
    color:black;

}
.menu-icon{
    width: 5%;
    position: absolute;
    top: 5%;
    right: 0.05%;
    cursor: pointer;
}
.menu-box{
    width:800px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: -100%;
    left: 45%;  
    padding: 25px, 300px;
    transition: top 1s;
    border-radius: 30px;
}
.right-links{
    position: absolute;
    top:30px;
    right: 30px;
    display: flex;
    align-items: center;
}
.right-links img{
    width: 50px;
    margin-left: 20px;
    cursor: pointer
}
.right-links a{
    text-decoration: none;
    color: #fff;
    background: #087f00;
    padding: 10px 40px;
    border-radius: 30px;
}
.menu-links a{
    text-decoration: none;
    color: #000000;
    width: max-content;
    margin: 40px 0px;
    font-size: 30px;
    display: flex;
    align-content: center;
    justify-content: center;
}
.menu-links a::after{
    content: '';
    width: 40px;
    height: 5px;
    background-color: #087f00;
    display: none;
    margin-left: 10px;
    margin-bottom: 8px;
    margin-top: 5px; 
}
.menu-links a:hover{
    font-weight:700;
}
.menu-links a:hover::after{
    display: inline-block;

}